{% extends 'calculator_app/base.html' %}

{% block style %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: cyan;
      }
      
      .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          width: 300px;
          height: 50px;
          border-radius: 5px;
    }

    /* The container <div> - needed to position the dropdown content */
        .dropdown {
            text-align: center;
            padding: 20px;
            display: inline-block;
            width: 500px;
            height: 300px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content button {
        color: black;
        padding: 12px 16px;
        display: block;
        width: 100%;
    }

    #submit {
        width: 200px;
        height: 50px;
        color: white;
        background-color: black;
        border: solid 2px grey;
        border-radius: 10px;
    }
    
    #submit:hover{
        background-color: grey;
    }
    
    #chosen-operation {
        width: 200px;
        height: 40px;
        border: solid 2px black;
        border-radius: 5px;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
{% endblock %}

{%block content%}
<div class="dropdown">
    <form action="#" method="POST">
        {% csrf_token %}
        <fieldset>
            <br>
            <button type="button" class="dropbtn">Hover To Choose...</button><br>
            <div class="dropdown-content">
                <button type="button" id="add-btn">Addition</button>
                <button type="button" id="sub-btn">Subtraction</button>
                <button type="button" id="mul-btn">Multiplication</button>
                <button type="button" id="div-btn">Division</button>
            </div><br><br>
            <legend>Choose Operation: </legend>
            <label for="chosen-operation">Selected Operation:</label><br>
            <input type="text" name="op" id="chosen-operation"></input><br>
            <input type="submit" id="submit" value="Submit"><br>
        </fieldset>
    </form>
</div>
{% endblock %}


{% block script %}
<script>
    op = document.querySelector("#chosen-operation");

    function appendTextToPage(chosenOp) {
        op.value = chosenOp
    }

    document.querySelector("#add-btn").addEventListener('click', function(){
        appendTextToPage("Addition");
    });
    document.querySelector("#mul-btn").addEventListener('click', function(){
        appendTextToPage("Multiplication");
    });
    document.querySelector("#sub-btn").addEventListener('click', function(){
        appendTextToPage("Subtraction");
    });
    document.querySelector("#div-btn").addEventListener('click', function(){
        appendTextToPage("Division");
    });

</script>
{% endblock script %}